<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Sdetails</servlet-name>
  	<display-name>Sdetails</display-name>
  	<description></description>
  	<servlet-class>sdetails.Sdetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MasterStudentList</servlet-name>
  	<display-name>MasterStudentList</display-name>
  	<description></description>
  	<servlet-class>studentlist.MasterStudentList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MasterReport</servlet-name>
  	<display-name>MasterReport</display-name>
  	<description></description>
  	<servlet-class>masterlist.MasterReport</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginAdmin</servlet-name>
  	<display-name>LoginAdmin</display-name>
  	<description></description>
  	<servlet-class>admin.LoginAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSubject</servlet-name>
  	<display-name>AddSubject</display-name>
  	<description></description>
  	<servlet-class>subject.add.AddSubject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddTeacher</servlet-name>
  	<display-name>AddTeacher</display-name>
  	<description></description>
  	<servlet-class>teacher.add.AddTeacher</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddClass</servlet-name>
  	<display-name>AddClass</display-name>
  	<description></description>
  	<servlet-class>classadd.AddClass</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignClassSubject</servlet-name>
  	<display-name>AssignClassSubject</display-name>
  	<description></description>
  	<servlet-class>subjectclassmapping.AssignClassSubject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignTeacherClassSubject</servlet-name>
  	<display-name>AssignTeacherClassSubject</display-name>
  	<description></description>
  	<servlet-class>teacherclasssubjectmapping.AssignTeacherClassSubject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddStudent</servlet-name>
  	<display-name>AddStudent</display-name>
  	<description></description>
  	<servlet-class>studentclassmapping.AddStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteClass</servlet-name>
  	<display-name>DeleteClass</display-name>
  	<description></description>
  	<servlet-class>classdelete.DeleteClass</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Sdetails</servlet-name>
  	<url-pattern>/sdetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MasterStudentList</servlet-name>
  	<url-pattern>/masterstudentlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MasterReport</servlet-name>
  	<url-pattern>/masterreport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginAdmin</servlet-name>
  	<url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSubject</servlet-name>
  	<url-pattern>/addSubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddTeacher</servlet-name>
  	<url-pattern>/addTeacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddClass</servlet-name>
  	<url-pattern>/addClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignClassSubject</servlet-name>
  	<url-pattern>/assignclassSubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignTeacherClassSubject</servlet-name>
  	<url-pattern>/assignteacherclassSubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddStudent</servlet-name>
  	<url-pattern>/addStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteClass</servlet-name>
  	<url-pattern>/deleteclass</url-pattern>
  </servlet-mapping>
 </web-app>
